.home {
  background-color: #f7f7f7;
  padding: 40px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

/* 📱 Responsive Home */
@media (max-width: 768px) {
  .home {
    background-color: transparent; /*  enlève le fond gris */
    padding: 20px;
    border-radius: 10px;
    grid-template-columns: 1fr; /* 1 colonne */
    gap: 20px;
  }
}
