.banner {
  background-image: url("../../assets/banner-home.svg");
  background-size: cover;
  background-position: center;
  height: 200px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 32px;
  font-weight: bold;
  margin: 20px;
}
.banner h1 {
  color: white !important;   /*  Force le blanc */
}

/* 📱 Responsive Banner */

@media (max-width: 768px) {
  .banner {
    height: 111px;
    border-radius: 10px;
    padding-left: 15px;
    display: flex;
    align-items: center;

    justify-content: flex-start;   /* 🔥 le texte passe ENFIN à gauche */
  }

  .banner h1 {
    font-size: 24px;
    text-align: left;
    line-height: 1.2;
    margin: 0;

    width: 60%;        
    white-space: normal;
  }
}



